<header class="text-blue-900 shadow-lg py-6">
  <div class="max-w-7xl mx-auto flex justify-center items-center">
    <!-- Logo Grande -->
    <a href="#">
      <img
        class="h-24 w-auto"
        src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pokémon_logo.svg"
        alt="Pokémon Logo"
      />
    </a>
  </div>
</header>
