<header class="text-blue-900 shadow-lg py-6">
  <div class="max-w-7xl mx-auto flex justify-center items-center">
    <!-- Logo Grande -->
    <a href="#">
      <img
        class="h-24 w-auto"
        src="../../public/img/dragonball.png"
        alt="DragonBall Logo"
      />
    </a>
  </div>
</header>
